# Archivos de compilación
build/
*/build/
.gradle/
bin/
gen/
out/
.kotlin/

# IDE - Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
.navigation/
captures/
.externalNativeBuild/
.cxx/

# Secretos y locales
local.properties

# NOTA: google-services.json NO se ignora en este reto para permitir compilación inmediata
# app/google-services.json

# Sistema
.DS_Store
Thumbs.db
*.bak
*.log
